
<div class="main-block">
  <div class="inner-block">
    <h3>What is Journalling?</h3>
    <p>
      To Journal is the process of collecting ones thoughts, a method by which
      one is able to redistribute all that has been plaguing their mind for the day
      and ensure they are kept in a daily stream of reflection.
      <br>
      <br>
      <strong>At least thats my definition</strong>
    </p>
  </div>
</div>
